| {% extends 'layout.html' %}
| {% from '_macros/_navigation.html' import navigation_homepage %}
| {% from '_macros/_opengraph.html' import opengraph %}
include mixins/components

| {% set title = 'learn' %}

| {% set page_title = 'Learn' %}
| {% set page_description = 'Production quality training by Blender professionals.' %}
| {% set page_header_image = url_for('static', filename='assets/img/features/training_minecraft_animation.jpg', _external=true) %}

| {% block page_title %}{{ page_title }}{% endblock %}

| {% block og %}
| {{ opengraph(page_title, page_description, page_header_image, request.url) }}
| {% endblock %}

| {% block navigation_tabs %}
| {{ navigation_homepage(title) }}
| {% endblock navigation_tabs %}

| {% block body %}
.container.py-4
	+category_list_header('{{ page_title }}', '{{ page_description }}')

	+category_list_item(
		'COURSES',
		'In-depth training for mastering every corner in Blender.',
		"{{ url_for('cloud.courses') }}",
		"{{ url_for('static', filename='assets/img/features/training_animation_fundamentals_01.jpg')}}",
		'/p/animation-fundamentals')

		ul.list-unstyled.mt-3.mb-0.column-count-2.list-first-new
			-
				var projects = {
					'Procedural Shading': '/p/procedural-shading',
					'Weight Painting':'/p/weight-painting',
					'Animation Fundamentals':'/p/animation-fundamentals',
					'Stylized Character Workflow':'/p/stylized-character-workflow',
					'Scripting for Artists':'/p/scripting-for-artists'
				};

			each url, title in projects
				li
					a.d-block.py-1.text-primary(href=url)
						span=title
			li
				a.d-block.py-1.text-primary(href="{{ url_for('cloud.courses') }}")
					| See all Courses
					i.pi-angle-right

	hr.mb-4

	+category_list_item(
		'WORKSHOPS',
		'Enter the artist workshop and learn by example.',
		"{{ url_for('cloud.workshops') }}",
		"{{ url_for('static', filename='assets/img/features/training_anglerfish_01.jpg')}}",
		'/p/anglerfish')

		ul.list-unstyled.mt-3.mb-0.column-count-2
			-
				var projects = {
					'Anglerfish':'/p/anglerfish',
					'Speed Sculpting':'/p/speed-sculpting',
					'Minecraft Animation':'/p/minecraft-animation-workshop',
				};

			each url, title in projects
				li
					a.d-block.py-1.text-primary(href=url)
						span=title
			li
				a.d-block.py-1.text-primary(href="{{ url_for('cloud.workshops') }}")
					| See all Workshops
					i.pi-angle-right

	hr.mb-4

	+category_list_item(
		'PRODUCTION LESSONS',
		'Tips and tricks by the Blender Open Movies crew.',
		"{{ url_for('cloud.production') }}",
		"{{ url_for('static', filename='assets/img/features/open_movies_spring_03.jpg')}}")

		ul.list-unstyled.mt-3.mb-0.column-count-2
			-
				var projects = {
					'Walk-throughs':'/production#walk-through',
					'Animation Tips':'/production#animation',
					'Character Pipeline':'/production#character-pipeline'
				};

			each url, title in projects
				li
					a.d-block.py-1.text-primary(href=url)
						span=title
			li
				a.d-block.py-1.text-primary(href="{{ url_for('cloud.production') }}")
					| See all Production Lessons
					i.pi-angle-right

| {% endblock body %}
